[user]
	name = Hani Husamuddin
	email = hani.husam@gmail.com
	signingkey = 4D8D509BBE5C3594
[commit]
	gpgsign = true
[gpg]
	program = gpg
[core]
	excludesfile = /Users/nvuser/.gitignore-global
[includeIf "gitdir:~/Code/ninjavan/"]
	path = .gitconfig-ninjavan
[includeIf "gitdir:~/Code/go/src/git.ninjavan.co/"]
	path = .gitconfig-ninjavan
[includeIf "gitdir:~/Code/GitHub/zainfathoni/"]
	path = .gitconfig-zainfathoni
