[user]
	name = Hani Husamuddin
	email = hani.husam@gmail.com
	signingkey = 5966EBA685E0C19B
[commit]
	gpgsign = true
[gpg]
	program = gpg
[core]
	excludesfile = /Users/nvuser/.gitignore-global
[includeIf "gitdir:~/Code/GitHub/hanihusam/"]
	path = .gitconfig-hanihusam
